<div class="col-lg-12 text-center pizza-title">
    <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" ng-repeat="item in $ctrl.list" data-slide-to="{{item.index}}"></li>
        </ol>
        <ul class="carousel-inner">
            <li class="item active article">
                <img class="img-responsive img-full" src="/shared/images/news_first.png" alt="">
                <div>Welcome!</div>
                <h2>
                    <small>Slide <strong>Left</strong> or <strong>Right</strong>
                    </small>
                </h2>
            </li>
            <li class="item article" ng-repeat="item in $ctrl.list">
                <img class="img-responsive img-full" ng-src="{{item.imageUrl}}" alt="">
                <div>{{item.txt}}</div>
                <h2><small>{{item.small_txt}}</small></h2>
            </li>
        </ul>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
